## Análisis exploratorio

### Tabla prueba_op_base_pivot_var_rpta_alt_enmascarado_oot.csv, que contiene la lista de clientes y obligaciones a calificar en 2024/01

In [1]:
import pandas as pd
import numpy as np

Se tienen 112549 registros de obligaciones para 80495 diferentes clientes.

La información no contiene valores nulos ni filas duplicadas.

La variable respuesta de todos los registros corresponde a Enero de 2024.

fecha_var_rpta_alt: Fecha mes de la variable respuesta.

In [ ]:
# Leer el dataframe
clientes_obligaciones = pd.read_csv('prueba_op_base_pivot_var_rpta_alt_enmascarado_oot.csv')
clientes_obligaciones.head()

,nit_enmascarado,num_oblig_orig_enmascarado,num_oblig_enmascarado,fecha_var_rpta_alt
0,257335,444821,635511,202401
1,59584,350400,730364,202401
2,397604,973821,106521,202401
3,368086,382995,696856,202401
4,255009,434238,645924,202401

In [3]:
# Información básica del dataframe
clientes_obligaciones.describe()

,nit_enmascarado,num_oblig_orig_enmascarado,num_oblig_enmascarado,fecha_var_rpta_alt
count,112549.000000,1.125490e+05,1.125490e+05,112549.0
mean,307839.644733,5.459846e+05,5.333811e+05,202401.0
std,182016.980918,3.115434e+05,3.102557e+05,0.0
min,12.000000,2.620000e+02,1.200000e+01,202401.0
25%,153861.000000,2.784810e+05,2.713630e+05,202401.0
50%,299105.000000,5.501100e+05,5.302320e+05,202401.0
75%,463609.000000,8.089790e+05,8.011320e+05,202401.0
max,634695.000000,1.080330e+06,1.080719e+06,202401.0

In [4]:
# Cantidad de clientes únicos
len(set(clientes_obligaciones['nit_enmascarado']))

80495

In [5]:
# Tipos de datos de cada columna
clientes_obligaciones.dtypes

nit_enmascarado               int64
num_oblig_orig_enmascarado    int64
num_oblig_enmascarado         int64
fecha_var_rpta_alt            int64
dtype: object

In [6]:
# Valores nulos
clientes_obligaciones.isnull().sum()

nit_enmascarado               0
num_oblig_orig_enmascarado    0
num_oblig_enmascarado         0
fecha_var_rpta_alt            0
dtype: int64

In [7]:
# Filas duplicadas
clientes_obligaciones.duplicated().sum()

np.int64(0)

In [8]:
# Diferentes fechas
# Sólo hay datos de enero de 2024
set(clientes_obligaciones['fecha_var_rpta_alt'])

{202401}

### Tabla prueba_op_base_pivot_var_rpta_alt_enmascarado_trtest.csv, que contiene la información de variable objetivo para train

Se tienen 568251 registros de obligaciones para 267256 diferentes clientes.

Hay datos desde agosto hasta diciembre de 2023.

fecha_var_rpta_alt: Fecha mes de la variable respuesta.

In [10]:
# Leer el dataframe
clientes_obligaciones_train = pd.read_csv('prueba_op_base_pivot_var_rpta_alt_enmascarado_trtest.csv')
clientes_obligaciones_train.head()

,nit_enmascarado,num_oblig_orig_enmascarado,num_oblig_enmascarado,fecha_var_rpta_alt,var_rpta_alt,tipo_var_rpta_alt,banca,segmento,producto,producto_cons,...,porc_pago_cuota,pago_mes,porc_pago_mes,pagos_tanque,marca_debito_mora,alternativa_aplicada_agr,marca_agrupada_rgo,marca_pago,marca_alternativa,marca_alternativa_orig
0,630611,219718,863073,202308,1,a_uno_tipo_1,Banca Personas,Personal,TARJETA DE CREDITO,Tarjeta de Credito,...,0.095438,0.0,0.000000,Sin pago,NO,CONSOLIDACION,REESTRUCTURACIÓN,Sin pago,Acepta Alternativa,Acepta Alternativa
1,59412,789567,290775,202312,1,a_uno_tipo_1,Banca Personas,Personal,LIBRE INVERSION,Libre Inversion,...,0.000000,0.0,NaN,Sin pago,NO,PRORROGA,MANTENIMIENTO,Sin pago,Acepta Alternativa,Acepta Alternativa
2,277595,1045909,34433,202312,1,b_uno_tipo_2,Banca Personas,Personal,LIBRE INVERSION,Libre Inversion,...,0.000000,0.0,NaN,Sin pago,NO,NaN,NaN,Sin pago,Acepta Alternativa,Acepta Alternativa
3,26897,585786,494556,202311,1,a_uno_tipo_1,Banca Personas,Personal,ROTATIVOS,Rotativos,...,0.042117,4090.0,0.015324,Con pago,NO,PRORROGA,MANTENIMIENTO,Pago parcial,Acepta Alternativa,Acepta Alternativa
4,24588,1061389,18953,202311,1,b_uno_tipo_2,Banca Personas,Personal plus,ROTATIVOS,Rotativos,...,0.000000,0.0,0.000000,Sin pago,NO,CONSOLIDACION,REESTRUCTURACIÓN,Sin pago,Acepta Alternativa,Acepta Alternativa

In [3]:
clientes_obligaciones_train = clientes_obligaciones_train[['nit_enmascarado',
                                                                       'num_oblig_orig_enmascarado',
                                                                       'num_oblig_enmascarado',
                                                                       'fecha_var_rpta_alt',
                                                                       'var_rpta_alt',
                                                                       'tipo_var_rpta_alt',
                                                                       'banca',
                                                                       'segmento',
                                                                       'producto',
                                                                       'vlr_obligacion',
                                                                       'vlr_vencido',
                                                                       'saldo_capital',
                                                                       'endeudamiento',
                                                                       'cant_alter_posibles',
                                                                       'cant_gestiones_binario',
                                                                       'cant_promesas_cumplidas_binario',
                                                                       'cant_acuerdo_binario',
                                                                       'marca_alt_apli',
                                                                       'valor_cuota_mes',
                                                                       'pago_cuota',
                                                                       'porc_pago_cuota',
                                                                       'pago_mes',
                                                                       'porc_pago_mes',
                                                                       'marca_alternativa',
                                                                       'marca_alternativa_orig']]

In [5]:
clientes_obligaciones_train.to_excel('revisar.xlsx')

In [10]:
# Información básica del dataframe
clientes_obligaciones_train.describe()

,nit_enmascarado,num_oblig_orig_enmascarado,num_oblig_enmascarado,fecha_var_rpta_alt,var_rpta_alt,min_mora,max_mora,dias_mora_fin,vlr_obligacion,vlr_vencido,...,rpc,promesas_cumplidas,cant_promesas_cumplidas_binario,cant_acuerdo,cant_acuerdo_binario,valor_cuota_mes,pago_cuota,porc_pago_cuota,pago_mes,porc_pago_mes
count,568251.000000,5.682510e+05,5.682510e+05,568251.000000,568251.000000,568251.000000,568251.000000,568251.000000,5.675850e+05,5.682510e+05,...,568249.000000,568251.000000,568251.000000,549621.000000,568251.000000,5.682480e+05,5.682480e+05,568251.000000,5.682510e+05,260137.000000
mean,307451.784203,5.359492e+05,5.435817e+05,202309.946909,0.480013,26.847504,48.543566,37.255445,1.167352e+07,1.036970e+06,...,0.933244,0.211181,0.095718,1.113153,0.304798,1.009576e+06,8.378963e+05,0.238374,2.235457e+05,0.204146
std,182473.928544,3.113386e+05,3.103269e+05,1.386705,0.499601,25.841082,32.154424,35.215980,2.480034e+07,2.722675e+06,...,0.249599,0.689451,0.294205,2.139857,0.460322,2.780321e+06,7.176204e+06,0.406320,1.764742e+06,0.359075
min,1.000000,4.030000e+02,3.000000e+00,202308.000000,0.000000,1.000000,1.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,152582.000000,2.680965e+05,2.779360e+05,202309.000000,0.000000,4.000000,23.000000,0.000000,1.575662e+06,1.900590e+05,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.833808e+05,0.000000e+00,0.000000,0.000000e+00,0.000000
50%,299397.000000,5.342080e+05,5.461340e+05,202310.000000,0.000000,17.000000,43.000000,29.000000,4.168354e+06,4.541250e+05,...,1.000000,0.000000,0.000000,0.000000,0.000000,4.513657e+05,0.000000e+00,0.000000,0.000000e+00,0.000000
75%,463424.500000,8.024060e+05,8.110760e+05,202311.000000,1.000000,46.000000,70.000000,60.000000,1.082820e+07,1.032518e+06,...,1.000000,0.000000,0.000000,2.000000,1.000000,1.028785e+06,8.587682e+04,0.323465,0.000000e+00,0.235344
max,634709.000000,1.080339e+06,1.080719e+06,202312.000000,1.000000,90.000000,1612.000000,609.000000,1.589994e+09,5.023519e+08,...,1.000000,16.000000,1.000000,56.000000,1.000000,5.023519e+08,2.415000e+09,1.000000,3.450000e+08,1.000000

In [11]:
# Cantidad de clientes únicos
len(set(clientes_obligaciones_train['nit_enmascarado']))

267256

In [12]:
# Valores nulos por columna
# alternativa_aplicada_agr: Que tipo de opcion de pago se le aplico finalmente al cliente
# marca_agrupada_rgo: Otra tipologia mas general de la opcion de pago aplicada
# alter_posible3_2: codigo de tercera opcion de pago preaprobada
# alter_posible2_2: codigo de segunda opcion de pago preaprobada
# porc_pago_mes: porcentaje de pago mes que hizo
# cant_acuerdo: cantidad de acuerdos de pago en el mes
# cant_gestiones: cantidad de gestiones en el mes realizadas
# vlr_obligacion: valor desembolsado de la obligacion, TDC es el cupo
# pago_cuota: valor pagado en el mes a la obligacion antes de vencerse
# valor_cuota_mes: valor de la cuota del mes del cliente
# rpc: cantidad de contactos efectivos con el cliente 
clientes_obligaciones_train.isnull().sum().sort_values(ascending=False)

alternativa_aplicada_agr           362989
marca_agrupada_rgo                 362988
alter_posible3_2                   342865
alter_posible2_2                   334102
porc_pago_mes                      308114
cant_acuerdo                        18630
cant_gestiones                      18549
vlr_obligacion                        666
pago_cuota                              3
valor_cuota_mes                         3
rpc                                     2
nit_enmascarado                         0
num_oblig_orig_enmascarado              0
tipo_var_rpta_alt                       0
banca                                   0
fecha_var_rpta_alt                      0
num_oblig_enmascarado                   0
vlr_vencido                             0
rango_mora                              0
dias_mora_fin                           0
max_mora                                0
aplicativo                              0
min_mora                                0
producto_cons                           0
producto                                0
var_rpta_alt                            0
segmento                                0
desc_alternativa3                       0
cant_alter_posibles                     0
alter_posible1_2                        0
saldo_capital                           0
desc_alternativa1                       0
endeudamiento                           0
cant_acuerdo_binario                    0
cant_promesas_cumplidas_binario         0
promesas_cumplidas                      0
cant_gestiones_binario                  0
desc_alternativa2                       0
marca_alt_apli                          0
descripcion_ranking_mejor_ult           0
descripcion_ranking_post_ult            0
pago_mes                                0
porc_pago_cuota                         0
marca_alt_rank                          0
pagos_tanque                            0
marca_debito_mora                       0
marca_pago                              0
marca_alternativa                       0
marca_alternativa_orig                  0
dtype: int64

In [15]:
# Limpiar el dataframe, eliminando las filas que tengan valores nulos en
# vlr_obligacion, pago_cuota, valor_cuota_mes o rpc
# reemplazar en las columnas numéricas los valores nulos por 0
clientes_obligaciones_train = clientes_obligaciones_train.dropna(subset=['vlr_obligacion', 'pago_cuota', 'valor_cuota_mes', 'rpc'])
clientes_obligaciones_train['porc_pago_mes'] = clientes_obligaciones_train['porc_pago_mes'].fillna(0)
clientes_obligaciones_train['cant_acuerdo'] = clientes_obligaciones_train['cant_acuerdo'].fillna(0)
clientes_obligaciones_train['cant_gestiones'] = clientes_obligaciones_train['cant_gestiones'].fillna(0)

In [16]:
# Valores nulos por columna
# alternativa_aplicada_agr - string: Que tipo de opcion de pago se le aplico finalmente al cliente
# marca_agrupada_rgo - string: Otra tipologia mas general de la opcion de pago aplicada
# alter_posible3_2 - string: codigo de tercera opcion de pago preaprobada
# alter_posible2_2 - string: codigo de segunda opcion de pago preaprobada
# porc_pago_mes - double: porcentaje de pago mes que hizo
# cant_acuerdo - bigint: cantidad de acuerdos de pago en el mes
# cant_gestiones - bigint: cantidad de gestiones en el mes realizadas
clientes_obligaciones_train.isnull().sum().sort_values(ascending=False)

alternativa_aplicada_agr           362534
marca_agrupada_rgo                 362533
alter_posible3_2                   342460
alter_posible2_2                   333665
var_rpta_alt                            0
num_oblig_orig_enmascarado              0
num_oblig_enmascarado                   0
fecha_var_rpta_alt                      0
producto                                0
producto_cons                           0
aplicativo                              0
min_mora                                0
max_mora                                0
tipo_var_rpta_alt                       0
banca                                   0
segmento                                0
nit_enmascarado                         0
vlr_vencido                             0
vlr_obligacion                          0
rango_mora                              0
dias_mora_fin                           0
desc_alternativa2                       0
desc_alternativa3                       0
desc_alternativa1                       0
saldo_capital                           0
alter_posible1_2                        0
cant_gestiones                          0
cant_gestiones_binario                  0
rpc                                     0
promesas_cumplidas                      0
cant_promesas_cumplidas_binario         0
cant_alter_posibles                     0
endeudamiento                           0
cant_acuerdo_binario                    0
cant_acuerdo                            0
descripcion_ranking_mejor_ult           0
descripcion_ranking_post_ult            0
valor_cuota_mes                         0
pago_cuota                              0
marca_alt_rank                          0
marca_alt_apli                          0
pago_mes                                0
porc_pago_cuota                         0
pagos_tanque                            0
porc_pago_mes                           0
marca_debito_mora                       0
marca_pago                              0
marca_alternativa                       0
marca_alternativa_orig                  0
dtype: int64

In [17]:
# Filas duplicadas
clientes_obligaciones_train.duplicated().sum()

np.int64(0)

In [18]:
# Diferentes fechas
# Hay datos desde agosto hasta diciembre de 2023
set(clientes_obligaciones_train['fecha_var_rpta_alt'])

{202308, 202309, 202310, 202311, 202312}

In [19]:
# Ver las cantidades de cada producto
clientes_obligaciones_train['producto'].value_counts()

producto
TARJETA DE CREDITO      243405
LIBRE INVERSION         201429
ROTATIVOS                80733
CARTERA ORDINARIA        11916
LIBRANZA                 10340
HIPOTECARIO VIVIENDA     10209
CARTERA MICROCREDITO      5979
CREDIPAGO                 1407
SOBREGIRO                 1307
LEASING HABITACIONAL       646
TESORERIA                  138
Titularizada                34
LEASING                     23
OTROS HIPOTECARIO           13
TARJETAS DE CREDITO          4
Name: count, dtype: int64

In [20]:
# Dejar todos los valores de la columna producto en mayúscula
clientes_obligaciones_train['producto'] = clientes_obligaciones_train['producto'].str.upper()
clientes_obligaciones_train['producto'] = clientes_obligaciones_train['producto'].replace('TARJETAS DE CREDITO', 'TARJETA DE CREDITO')
clientes_obligaciones_train['producto'].value_counts()

producto
TARJETA DE CREDITO      243409
LIBRE INVERSION         201429
ROTATIVOS                80733
CARTERA ORDINARIA        11916
LIBRANZA                 10340
HIPOTECARIO VIVIENDA     10209
CARTERA MICROCREDITO      5979
CREDIPAGO                 1407
SOBREGIRO                 1307
LEASING HABITACIONAL       646
TESORERIA                  138
TITULARIZADA                34
LEASING                     23
OTROS HIPOTECARIO           13
Name: count, dtype: int64

In [21]:
# Homologar segmentos en mayúscula
clientes_obligaciones_train['segmento'] = clientes_obligaciones_train['segmento'].str.upper()

In [22]:
# Clientes x segmento
clientes_por_segmento = clientes_obligaciones_train.drop_duplicates(subset=['nit_enmascarado', 'segmento'])
clientes_por_segmento['segmento'].value_counts()

segmento
PERSONAL         182835
PERSONAL PLUS     38418
MICROPYME         28613
SOCIAL            12014
PYMES              6570
PREFERENCIAL        682
EMPRESARIAL           1
Name: count, dtype: int64

In [24]:
# Homologar banca en mayúscula
clientes_obligaciones_train['banca'] = clientes_obligaciones_train['banca'].str.upper()

In [25]:
# Clientes x banca
clientes_por_banca = clientes_obligaciones_train.drop_duplicates(subset=['nit_enmascarado', 'banca'])
clientes_por_banca['banca'].value_counts()

banca
BANCA PERSONAS    232384
INDEPENDIENTES     28613
BANCA PYME          6570
EMPRESAS               1
Name: count, dtype: int64

### Tabla prueba_op_maestra_cuotas_pagos_mes_hist_enmascarado_completa.csv, que contiene la información de pagos obligaciones

#### Hay 4855035 de registros, correspondientes a información de corte de 12 meses del año 2023, para 300080 clientes

In [6]:
# Leer la tabla
pagos_obligaciones = pd.read_csv('prueba_op_maestra_cuotas_pagos_mes_hist_enmascarado_completa.csv')
pagos_obligaciones.head()

,nit_enmascarado,num_oblig_enmascarado,fecha_corte,producto,aplicativo,segmento,valor_cuota_mes,pago_total,fecha_pago_minima,fecha_pago_maxima,porc_pago,marca_pago,ajustes_banco
0,482906,362297,20230731,CARTERA MICROCREDITO,L,MICROPYME,311950.0,1862788.0,20230621.0,20230721.0,597.0,PAGO_MENOS,NO
1,121735,186855,20230228,LIBRE INVERSION,L,SOCIAL,131030.0,264157.0,20230127.0,20230207.0,202.0,PAGO_MENOS,NO
2,582719,675503,20231031,TARJETA DE CREDITO,K,PERSONAL,1405339.0,3320.0,20231003.0,20231003.0,0.0,PAGO_MENOS,NO
3,299903,107931,20230228,ROTATIVOS,L,PERSONAL PLUS,19220.0,0.0,NaN,NaN,0.0,FACTURACION_MES_SGTE,NO
4,88625,566060,20230430,ROTATIVOS,L,PERSONAL,384684.0,769368.0,20230403.0,20230403.0,200.0,PAGO_MAS,NO

In [7]:
pagos_obligaciones[['nit_enmascarado',
                                                     'num_oblig_enmascarado',
                                                     'fecha_corte',
                                                     'valor_cuota_mes',
                                                     'pago_total',
                                                     'porc_pago',
                                                     'ajustes_banco']]

,nit_enmascarado,num_oblig_enmascarado,fecha_corte,valor_cuota_mes,pago_total,porc_pago,ajustes_banco
0,482906,362297,20230731,311950.0,1862788.0,597.0,NO
1,121735,186855,20230228,131030.0,264157.0,202.0,NO
2,582719,675503,20231031,1405339.0,3320.0,0.0,NO
3,299903,107931,20230228,19220.0,0.0,0.0,NO
4,88625,566060,20230430,384684.0,769368.0,200.0,NO
...,...,...,...,...,...,...,...
4855030,428347,628599,20231130,320992.0,640523.0,200.0,NO
4855031,356568,606593,20230228,814754.0,2308770.0,283.0,NO
4855032,234904,500584,20230930,315738.0,0.0,0.0,NO
4855033,447934,12846,20231231,5317285.0,89289.0,2.0,NO
4855034,219557,811886,20231231,415697.0,0.0,0.0,NO

In [117]:
pagos_obligaciones.shape

(4855035, 13)

In [118]:
set(pagos_obligaciones['fecha_corte'])

{20230131,
 20230228,
 20230331,
 20230430,
 20230531,
 20230630,
 20230731,
 20230831,
 20230930,
 20231031,
 20231130,
 20231231}

In [119]:
len(set(pagos_obligaciones['nit_enmascarado']))

300080

In [120]:
# Valores nulos
# fecha_pago_minima - double: Fecha que realizo el valor de pago minimo
# fecha_pago_maxima - double: Fecha que realizo el ultimo valor de pago
# porc_pago - double: porcentaje de pago de la cuota realizado en el mes
pagos_obligaciones.isnull().sum().sort_values(ascending=False)

fecha_pago_minima        1396514
fecha_pago_maxima        1396514
porc_pago                  77376
num_oblig_enmascarado          0
nit_enmascarado                0
aplicativo                     0
producto                       0
fecha_corte                    0
segmento                       0
pago_total                     0
valor_cuota_mes                0
marca_pago                     0
ajustes_banco                  0
dtype: int64

In [121]:
# Eliminar filas donde valor_cuota_mes y pago_total sean iguales a 0
print(pagos_obligaciones.shape)
pagos_obligaciones = pagos_obligaciones[~((pagos_obligaciones['valor_cuota_mes'] == 0) & (pagos_obligaciones['pago_total'] == 0))]
print(pagos_obligaciones.shape)

(4855035, 13)
(4777617, 13)

In [122]:
# Variación en valores nulos luego del filtro por valor_cuota_mes y pago_total
# fecha_pago_minima - double: Fecha que realizo el valor de pago minimo
# fecha_pago_maxima - double: Fecha que realizo el ultimo valor de pago
# porc_pago - double: porcentaje de pago de la cuota realizado en el mes
pagos_obligaciones.isnull().sum().sort_values(ascending=False)

fecha_pago_minima        1320367
fecha_pago_maxima        1320367
fecha_corte                    0
num_oblig_enmascarado          0
nit_enmascarado                0
aplicativo                     0
producto                       0
valor_cuota_mes                0
segmento                       0
pago_total                     0
porc_pago                      0
marca_pago                     0
ajustes_banco                  0
dtype: int64

In [123]:
# Ver los pagos de las fechas de pago que están nulas
# Significa que los campos con fechas nulas es porque corresponden a un no pago
# Para fecha mínima
print(set(pagos_obligaciones[pagos_obligaciones['fecha_pago_minima'].isnull()]['pago_total']))
# Para fecha máxima
print(set(pagos_obligaciones[pagos_obligaciones['fecha_pago_maxima'].isnull()]['pago_total']))

{0.0}
{0.0}

In [124]:
# Validar homologaciones de marca_pago
# Escenario en que el valor de la cuota es igual al del pago, la respuesta debería ser IGUAL
# Como se encuentran más respuestas, la columna marca_pago no es diciente
validacion_marca_pago = pagos_obligaciones[pagos_obligaciones['valor_cuota_mes'] == pagos_obligaciones['pago_total']]
validacion_marca_pago['marca_pago'].value_counts()

marca_pago
IGUAL                   100264
PAGO_MENOS               70489
FACTURACION_MES_SGTE     14957
CANCELADO                 3481
PAGO_MAS                     2
Name: count, dtype: int64

In [125]:
# Ver las cantidades de cada producto
pagos_obligaciones['producto'].value_counts()

producto
TARJETA DE CREDITO      2155611
LIBRE INVERSION         1642882
ROTATIVOS                626910
HIPOTECARIO VIVIENDA      96425
CARTERA ORDINARIA         89761
LIBRANZA                  87466
CARTERA MICROCREDITO      52077
SOBREGIRO                 10475
CREDIPAGO                  7596
LEASING HABITACIONAL       5999
TESORERIA                  1114
Titularizada                685
Tarjeta de Crédito          181
OTROS HIPOTECARIO           169
LEASING                     126
Cartera Consumo              65
Cartera Microcredito         46
ANTICIPOS                    25
Sobregiro                     4
Name: count, dtype: int64

In [126]:
# Unificar los nombres de los productos
pagos_obligaciones['producto'] = pagos_obligaciones['producto'].str.upper()
pagos_obligaciones['producto'] = pagos_obligaciones['producto'].replace('TARJETA DE CRÉDITO', 'TARJETA DE CREDITO')
set(pagos_obligaciones['producto'].str.upper())

{'ANTICIPOS',
 'CARTERA CONSUMO',
 'CARTERA MICROCREDITO',
 'CARTERA ORDINARIA',
 'CREDIPAGO',
 'HIPOTECARIO VIVIENDA',
 'LEASING',
 'LEASING HABITACIONAL',
 'LIBRANZA',
 'LIBRE INVERSION',
 'OTROS HIPOTECARIO',
 'ROTATIVOS',
 'SOBREGIRO',
 'TARJETA DE CREDITO',
 'TESORERIA',
 'TITULARIZADA'}

In [127]:
# Cuantificar nuevamente la cantidad por producto
pagos_obligaciones['producto'].value_counts()

producto
TARJETA DE CREDITO      2155792
LIBRE INVERSION         1642882
ROTATIVOS                626910
HIPOTECARIO VIVIENDA      96425
CARTERA ORDINARIA         89761
LIBRANZA                  87466
CARTERA MICROCREDITO      52123
SOBREGIRO                 10479
CREDIPAGO                  7596
LEASING HABITACIONAL       5999
TESORERIA                  1114
TITULARIZADA                685
OTROS HIPOTECARIO           169
LEASING                     126
CARTERA CONSUMO              65
ANTICIPOS                    25
Name: count, dtype: int64

In [128]:
# Clientes x segmento
pagos_obligaciones_clientes_unicos = pagos_obligaciones.drop_duplicates(subset=['nit_enmascarado', 'segmento'])
pagos_obligaciones_clientes_unicos['segmento'].value_counts()

segmento
PERSONAL           214899
PERSONAL PLUS       56841
MICROPYME           35750
SOCIAL              15128
PYMES                7301
PREFERENCIAL         1027
GOBIERNO DE RED         6
EMPRESARIAL             4
Name: count, dtype: int64

In [129]:
productos_por_segmento = pagos_obligaciones.groupby('segmento')['producto'].agg([lambda x: list(x.unique()), 'nunique'])
productos_por_segmento.columns = ['producto', 'cantidad_productos']
productos_por_segmento.to_excel('productos_por_segmento.xlsx')

In [130]:
pagos_obligaciones['segmento'].value_counts()

segmento
PERSONAL           3036444
PERSONAL PLUS       962783
MICROPYME           475674
SOCIAL              155200
PYMES               120905
PREFERENCIAL         26561
EMPRESARIAL             31
GOBIERNO DE RED         19
Name: count, dtype: int64

In [131]:
pagos_obligaciones['aplicativo'].value_counts()

aplicativo
L    2508054
M     890809
V     741048
K     523935
4      97268
D      10479
3       6024
Name: count, dtype: int64

In [132]:
pagos_obligaciones['ajustes_banco'].value_counts()

ajustes_banco
NO             4689861
REDIFERIDOS      82961
AJUSTES           4795
Name: count, dtype: int64

In [133]:
# Obtener periodicidad de obligaciones

fechas_por_obligacion = pagos_obligaciones.drop_duplicates(subset=['nit_enmascarado', 'num_oblig_enmascarado', 'fecha_corte'])
fechas_por_obligacion = fechas_por_obligacion.groupby(['nit_enmascarado', 'num_oblig_enmascarado'])['fecha_corte'].unique().apply(sorted).reset_index()

def calcular_frecuencia_numerica(fechas):
    if len(fechas) < 2:
        return np.nan  # Si hay menos de 2 fechas, no se puede calcular una frecuencia
    
    # Extraer año y mes de la fecha en formato AAAAMMDD
    anios = [f // 10000 for f in fechas]   # Extraer AAAA
    meses = [(f // 100) % 100 for f in fechas]  # Extraer MM
    
    # Convertir (Año, Mes) a un número de meses totales desde el año 0
    meses_totales = [a * 12 + m for a, m in zip(anios, meses)]
    
    # Calcular diferencias en meses
    diferencias = [meses_totales[i] - meses_totales[i-1] for i in range(1, len(meses_totales))]
    
    # Si todas las diferencias son iguales, devolver la frecuencia, si no, indicar 'Variable'
    return diferencias[0] if all(x == diferencias[0] for x in diferencias) else 'Variable'

fechas_por_obligacion['frecuencia_meses'] = fechas_por_obligacion['fecha_corte'].apply(calcular_frecuencia_numerica)

In [134]:
set(fechas_por_obligacion['frecuencia_meses'])

{np.int64(1),
 np.int64(11),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(9),
 'Variable',
 nan}

In [ ]:
fechas_por_obligacion.to_excel('frecuencias_obligaciones.xlsx', index=False)

In [135]:
fechas_por_obligacion = fechas_por_obligacion[fechas_por_obligacion['frecuencia_meses']==1]

In [138]:
fechas_por_obligacion.shape

(452063, 4)

In [136]:
# Filtrar tabla inicial con clientes y productos que tengan información mensual
pagos_obligaciones_filtrado = pagos_obligaciones.merge(fechas_por_obligacion, on=['nit_enmascarado', 'num_oblig_enmascarado'])

In [137]:
pagos_obligaciones_filtrado

,nit_enmascarado,num_oblig_enmascarado,fecha_corte_x,producto,aplicativo,segmento,valor_cuota_mes,pago_total,fecha_pago_minima,fecha_pago_maxima,porc_pago,marca_pago,ajustes_banco,fecha_corte_y,frecuencia_meses
0,482906,362297,20230731,CARTERA MICROCREDITO,L,MICROPYME,311950.0,1862788.0,20230621.0,20230721.0,597.0,PAGO_MENOS,NO,"[20230131, 20230228, 20230331, 20230430, 20230...",1
1,121735,186855,20230228,LIBRE INVERSION,L,SOCIAL,131030.0,264157.0,20230127.0,20230207.0,202.0,PAGO_MENOS,NO,"[20230131, 20230228, 20230331, 20230430, 20230...",1
2,582719,675503,20231031,TARJETA DE CREDITO,K,PERSONAL,1405339.0,3320.0,20231003.0,20231003.0,0.0,PAGO_MENOS,NO,"[20230131, 20230228, 20230331, 20230430, 20230...",1
3,299903,107931,20230228,ROTATIVOS,L,PERSONAL PLUS,19220.0,0.0,NaN,NaN,0.0,FACTURACION_MES_SGTE,NO,"[20230228, 20230331, 20230430, 20230531, 20230...",1
4,88625,566060,20230430,ROTATIVOS,L,PERSONAL,384684.0,769368.0,20230403.0,20230403.0,200.0,PAGO_MAS,NO,"[20230131, 20230228, 20230331, 20230430, 20230...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4734086,428347,628599,20231130,TARJETA DE CREDITO,K,PERSONAL,320992.0,640523.0,20231120.0,20231120.0,200.0,FACTURACION_MES_SGTE,NO,"[20230131, 20230228, 20230331, 20230430, 20230...",1
4734087,356568,606593,20230228,HIPOTECARIO VIVIENDA,4,PERSONAL,814754.0,2308770.0,20230201.0,20230201.0,283.0,PAGO_MAS,NO,"[20230131, 20230228, 20230331, 20230430, 20230...",1
4734088,234904,500584,20230930,LIBRE INVERSION,L,PERSONAL,315738.0,0.0,NaN,NaN,0.0,IGUAL,NO,"[20230131, 20230228, 20230331, 20230430, 20230...",1
4734089,447934,12846,20231231,LIBRE INVERSION,L,PERSONAL PLUS,5317285.0,89289.0,20231108.0,20231108.0,2.0,PAGO_MENOS,NO,"[20230930, 20231031, 20231130, 20231231]",1
4734090,219557,811886,20231231,TARJETA DE CREDITO,V,MICROPYME,415697.0,0.0,NaN,NaN,0.0,PAGO_MENOS,NO,"[20230131, 20230228, 20230331, 20230430, 20230...",1

### Tabla prueba_op_master_customer_data_enmascarado_completa.csv, que contiene la información demográfica del cliente

#### Información para 241049 clientes. Hay varias fechas de ingestion, hay que dejar únicamente con el ultimo para cada cliente.

In [12]:
demografica_cliente = pd.read_csv('prueba_op_master_customer_data_enmascarado_completa.csv')
demografica_cliente.head()

,nit_enmascarado,cod_tipo_doc,tipo_cli,ctrl_terc,genero_cli,ano_nac_cli,edad_cli,estado_civil,tipo_vivienda,num_hijos,...,nicho,region_of,nombre_dpto_dirp,egresos_mes,tot_patrimonio,ciiu,smmlv,year,month,ingestion_day
0,536377,1,PERSONA NATURAL,CLIENTE,F,1998.0,25.0,SOLTERO,FAMILIAR,0.0,...,MUJERES,CENTRO,SANTANDER,0.0,33750000.0,NaN,1160000.0,2023,12,31
1,512257,1,PERSONA NATURAL,CLIENTE,F,1984.0,38.0,UNION LIBRE,PROPIA,0.0,...,MUJERES,CARIBE,MAGDALENA,250000.0,5000000.0,ASALARIADOS,1160000.0,2023,9,30
2,5788,1,PERSONA NATURAL,CLIENTE SOCIAL,M,1960.0,63.0,NaN,NaN,0.0,...,NaN,DIRECCIÓN GENERAL,SIN INFORMACION,0.0,0.0,ASALARIADOS,1160000.0,2023,11,30
3,132245,1,PERSONA NATURAL,CLIENTE,F,1982.0,41.0,CASADO,NaN,1.0,...,MUJERES,SUR,VALLE,1000000.0,62513000.0,ASALARIADOS,1160000.0,2023,7,31
4,245279,1,PERSONA NATURAL,CLIENTE,M,1980.0,43.0,CASADO,ALQUILADA,0.0,...,NaN,BOGOTA Y CUNDINAMARCA,CALDAS,1000000.0,34135000.0,ASALARIADOS,1160000.0,2023,12,31

In [140]:
len(set(demografica_cliente['nit_enmascarado']))

241049

In [141]:
demografica_cliente.describe()

,nit_enmascarado,cod_tipo_doc,ano_nac_cli,edad_cli,num_hijos,personas_dependientes,total_ing,tot_activos,tot_pasivos,f_vinc,f_ult_mantenimiento,egresos_mes,tot_patrimonio,smmlv,year,month,ingestion_day
count,430000.000000,430000.000000,422058.000000,422058.000000,422058.000000,422055.000000,4.299960e+05,4.299960e+05,4.299960e+05,4.300000e+05,4.300000e+05,4.299960e+05,4.299960e+05,430000.0,430000.0,430000.000000,430000.000000
mean,312397.375591,1.041058,1982.126317,40.687676,0.212234,0.253524,4.756132e+07,2.225395e+08,6.072482e+07,2.014065e+07,2.023029e+07,1.898745e+08,2.262288e+08,1160000.0,2023.0,9.503267,30.666705
std,183355.795862,0.279460,13.997720,14.014239,0.866547,0.866560,1.103820e+10,2.894160e+10,1.637785e+10,7.612937e+04,2.267300e+03,2.783730e+10,3.147675e+10,0.0,0.0,1.706878,0.471392
min,1.000000,1.000000,1899.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.901010e+07,2.019031e+07,0.000000e+00,0.000000e+00,1160000.0,2023.0,7.000000,30.000000
25%,153402.500000,1.000000,1974.000000,30.000000,0.000000,0.000000,1.028174e+06,2.475000e+06,0.000000e+00,2.012013e+07,2.023062e+07,1.000000e+05,2.208250e+06,1160000.0,2023.0,8.000000,30.000000
50%,308371.000000,1.000000,1985.000000,38.000000,0.000000,0.000000,1.700000e+06,1.675050e+07,0.000000e+00,2.016061e+07,2.023073e+07,4.000000e+05,1.590700e+07,1160000.0,2023.0,10.000000,31.000000
75%,471004.000000,1.000000,1993.000000,49.000000,0.000000,0.000000,3.538833e+06,6.814350e+07,0.000000e+00,2.019080e+07,2.023101e+07,8.000000e+05,6.307500e+07,1160000.0,2023.0,11.000000,31.000000
max,634709.000000,5.000000,2023.000000,123.000000,96.000000,95.000000,5.800001e+12,9.000002e+12,9.800000e+12,2.023123e+07,2.023123e+07,6.000000e+12,9.799656e+12,1160000.0,2023.0,12.000000,31.000000

In [145]:
# Para la última fecha de ingestión no se tienen los 241049 registros
# entonces toca filtrar por la última ingestión por registro
demografica_cliente_ultima_carga = demografica_cliente[demografica_cliente['year']==2023]
demografica_cliente_ultima_carga = demografica_cliente_ultima_carga[demografica_cliente_ultima_carga['month']==12]
demografica_cliente_ultima_carga = demografica_cliente_ultima_carga[demografica_cliente_ultima_carga['ingestion_day']==31]
demografica_cliente_ultima_carga.shape

(71917, 37)

In [146]:
demografica_cliente_ultima_carga = demografica_cliente.sort_values(by=['nit_enmascarado', 'year', 'month', 'ingestion_day'], ascending=[True, False, False, False])
demografica_cliente_ultima_carga = demografica_cliente_ultima_carga.drop_duplicates(subset=['nit_enmascarado'], keep='first')
demografica_cliente_ultima_carga.shape

(241049, 37)

In [147]:
demografica_cliente_ultima_carga['region_of'].value_counts()

region_of
ANTIOQUIA                59827
BOGOTA Y CUNDINAMARCA    56826
CARIBE                   38899
CENTRO                   37088
SUR                      35300
DIRECCIÓN GENERAL        13080
BANCO                       27
BANCO DE COLOMBIA            2
Name: count, dtype: int64

In [20]:
# Validar coincidencias con clientes

set_clientes_mcd = set(demografica_cliente['nit_enmascarado'])
set_clientes_obligaciones = set(clientes_obligaciones['nit_enmascarado'])
set_clientes_obligaciones_train = set(clientes_obligaciones_train['nit_enmascarado'])

print('Faltan ' + str(len(set_clientes_obligaciones_train - set_clientes_mcd)) + ' registros de clientes en mcd de la tabla de clientes train')
print('Faltan ' + str(len(set_clientes_obligaciones - set_clientes_mcd)) + ' registros de clientes en mcd de la tabla clientes')
print('Faltan ' + str(len(set_clientes_obligaciones -set_clientes_obligaciones_train)) + ' registros de clientes entre la info para entrenar y para predecir')

Faltan 52677 registros de clientes en mcd de la tabla de clientes train
Faltan 15703 registros de clientes en mcd de la tabla clientes
Faltan 32885 registros de clientes entre la info para entrenar y para predecir

### Tabla prueba_op_probabilidad_oblig_base_hist_enmascarado_completa.csv, que contiene información de probabilidades de modelos desarrollados

In [149]:
probabilidades_modelos = pd.read_csv('prueba_op_probabilidad_oblig_base_hist_enmascarado_completa.csv')
probabilidades_modelos.head()

,nit_enmascarado,num_oblig_enmascarado,fecha_corte,lote,prob_propension,prob_alrt_temprana,prob_auto_cura
0,296482,102381,202308,1,0.761350,0.193744,0.684784
1,391957,742315,202310,2,0.741803,0.384184,0.483696
2,229894,359919,202307,1,0.835373,0.285157,0.826225
3,478963,239064,202303,3,0.445002,0.629652,0.346508
4,349609,923348,202308,2,0.784365,0.419123,0.667603

In [151]:
probabilidades_modelos.describe()

,nit_enmascarado,num_oblig_enmascarado,fecha_corte,lote,prob_propension,prob_alrt_temprana,prob_auto_cura
count,4.804836e+06,4.804836e+06,4.804836e+06,4.804836e+06,4.804836e+06,4.804829e+06,4.804829e+06
mean,3.085411e+05,5.597008e+05,2.023067e+05,1.568148e+00,7.002381e-01,4.349893e-01,4.877742e-01
std,1.828653e+05,3.104282e+05,3.369213e+00,7.002282e-01,2.140671e-01,2.277477e-01,2.501165e-01
min,1.000000e+00,3.000000e+00,2.023010e+05,1.000000e+00,3.432506e-02,2.300400e-02,4.604448e-02
25%,1.526200e+05,2.955510e+05,2.023040e+05,1.000000e+00,6.286394e-01,2.222855e-01,2.581266e-01
50%,2.999030e+05,5.749985e+05,2.023070e+05,1.000000e+00,7.739288e-01,4.877411e-01,4.441285e-01
75%,4.652200e+05,8.269940e+05,2.023100e+05,2.000000e+00,8.392768e-01,6.158977e-01,7.501535e-01
max,6.347090e+05,1.080719e+06,2.023120e+05,3.000000e+00,9.593788e-01,9.318064e-01,9.512819e-01

In [37]:
probabilidades_modelos_subset = probabilidades_modelos.drop_duplicates(subset=['nit_enmascarado','num_oblig_enmascarado'], keep='first')
probabilidades_modelos_subset.shape

(458119, 7)

In [ ]:
# Cuáles son las obligaciones que aparecen? Las originales o las nuevas?
# Son las nuevas